:root{
    --bg-color: #111827;
    --text-color: #fff;
    --main-color: #29fd53;
    --primary-color: #54c4d0;
}

section .info h1{
    color: transparent;
    font-weight: 600;
    background-image: linear-gradient(45deg, var(--primary-color) 10%, var(--main-color)50%);
    background-clip: text;
    -webkit-background-clip: text;
}

section .info h1 span{
    color: transparent;
    font-weight: 600;
    background-image: linear-gradient(45deg, var(--primary-color) 50%, var(--main-color)70%);
    background-clip: text;
    -webkit-background-clip: text;
}

section .info p{
    text-align: justify;
}

section .info div{
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

section .info div button{
    border: none;
    outline: none;
    border: 2px solid var(--main-color);
    padding: 10px;
    background-color: transparent;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.50s ease;
}

section .info div i{
    font-size: 2rem;
    transition: all 0.50s ease;
    cursor: pointer;
}

section .info div i:hover{
    transform: translateY(-10%);
    filter: drop-shadow(0 5px 15px white);
}

section .info div button:hover{
    box-shadow: 0 5px 15px var(--main-color);
    transform: translateY(-10%)
}





